#
# Comma separated list of features repositories to register by default
#
featuresRepositories = mvn:org.apache.karaf.features/standard/3.0.8/xml/features,\
                       mvn:org.apache.karaf.features/enterprise/3.0.8/xml/features,\
                       mvn:org.ops4j.pax.web/pax-web-features/3.2.9/xml/features,\
                       mvn:org.apache.karaf.features/spring/3.0.8/xml/features,\
                       mvn:org.apache.cxf.karaf/apache-cxf/3.1.5/xml/features,\
                       mvn:org.apache.camel.karaf/apache-camel/2.16.3/xml/features,\
                       mvn:org.apache.activemq/activemq-karaf/5.11.4/xml/features,\
                       mvn:com.savoirtech.aetos/features/3.0.8.2/xml/features,\
                       mvn:com.savoirtech.hecate/hecate-karaf/2.0.10/xml/features,\
                       mvn:com.cengage.userexperience/user-experience-features/1.0.0/xml/features,\
                       mvn:com.cengage.socom/schema-utils-features/1.1.8/xml/features,\
                       mvn:com.cengage.socom/osgi-tools-features/1.0.7/xml/features,\
                       mvn:com.cengage.socom/content-utils-features/1.0.12/xml/features,\
                       mvn:com.cengage.omnibus/omnibus-features-client/1.8.0/xml/features,\
                       mvn:com.cengage.mt4/mt4-facade-features-service/1.0.77/xml/features


#
# Comma separated list of features to install at startup
#
featuresBoot = config,standard,region,schema-utils,user-experience,activemq-broker,package,kar,ssh,management,obr,war,transaction,jpa,jndi,activemq,aetos-core,aetos-monitoring,jolokia,\
               osgi-tools,content-utils,omnibus-client,mt4-facade

#
